{name, "statebox"}.
{authors, ["Bob Ippolito <bob@redivi.com>"]}.
{description, "Erlang state 'monad' with merge/conflict-resolution capabilities. Useful for Riak."}.
{homepage, "https://github.com/mochi/statebox"}.
{rebar_compatible, true}.
{license,"MIT","LICENSE"}.
{url, {git, "https://github.com/mochi/statebox.git", {branch, "master"}}}.
{applications, [statebox]}.
